<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="erikkrempel.net is the private website of Erik Krempel" />
    <meta name="keywords" content="Erik Krempel" />

    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" title="style (screen)" />

    <title>{{ page.title }}</title>
</head>

<body>

<div id="container">
    {% include navigation.html %}

    {% include header.html %}

    <div class="main">

        <div id="content">
            {{ content }}
        </div>
    </div>
</div>

<!-- Template inspired by Domain51 http://domain51.com-->
</body>
</html>
		

